<div class="header-bar">
  <div class="header-bar-row">
    <div class="header-bar-logo">
      <img src="https://choiceoflawdataverse.blob.core.windows.net/assets/cold_logo.svg" alt="CoLD Logo" />
    </div>
    <nav class="header-bar-nav">
      <ul>
        <li><a href="/">Overview</a></li>
        <li><a href="/data/">Data</a></li>
        <li><a href="/search-algorithm/">Search Algorithm</a></li>
        <li><a href="/architecture/">Architecture</a></li>
        <li><a href="/stack/">Technology</a></li>
        <li><a href="/deployment/">Deployment</a></li>
      </ul>
    </nav>
  </div>
</div>
